.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and ((max-width: 600px)) {
  .countries {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
